<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <ma-table
          v-bind="props"
          @add-data="onAddData"
          @edit-data="onEditData"
          @view-data="onViewData"
          @delete-data="onDeleteData"
          ref="dataTable"
        ></ma-table>
      </b-col>
    </b-row>
  </div>
</template> 

<script>
import maTable from "./../components/Table";
import { error } from "util";
import ToastService from "./../../services/toast.service";

import MenuAddEdit from "./../dialogs/menu-add-edit";
import ApiService from "./../../services/api.service";

export default {
  components: { maTable },

  data: function() {
    return {
      props: {
        caption: "Menu table",
        tablePath: "menus/all", // url,
        addEdit: "menus-add-edit", //
        delete: "", //
        rowId: "menu_id",
        defaultSort: [{ coloumn: "ord", desc: true }],
        excludeColoumns: ["menu_id", "name"],
        excludeSortingColoumns: ["url"],
        enableAddEdit: true,
        enableDelete: true,
        enableRead: true,
        enableView: true,
        enableSelect: true,
        selectMode: "single",
        pageSize: 10,
        extraButtons: [
          {
            name: "",
            icon: "",
            functionName: ""
          }
        ]
      }
    };
  },

  methods: {
    /**
     *  on Add Data
     *
     */
    async onAddData() {
      let modalResponse = await this.$modalService.open(MenuAddEdit, {
        title: "Add Edit Menu Data"
      });
      if (modalResponse.status == 200) {
        ToastService.openSuccessDialog(
          this.$bvToast,
          modalResponse.data,
          "Add Menu"
        );
      } else {
        ToastService.openErrorDialog(
          this.$bvToast,
          modalResponse.data,
          "Add Menu"
        );
      }
      this.onRefresh();
    },
    /**
     *  on Edit data
     */
    async onEditData(res) {
      let modalResponse = await this.$modalService.open(MenuAddEdit, {
        title: "Add Edit Menu Data",
        data: res[0]
      });

      if (modalResponse.status == 200) {
        ToastService.openSuccessDialog(
          this.$bvToast,
          modalResponse.data,
          "Update Message"
        );
      } else {
        ToastService.openErrorDialog(
          this.$bvToast,
          modalResponse.data,
          "Update Message"
        );
      }
      this.onRefresh();
    },
    onViewData(res) {
      console.log(res);
    },
    onDeleteData(res) {
      if (confirm("Do you really want to delete"))
        for (let i = 0; i < res.length; i++) {
          ApiService.post("menus/delete", { menu_id: res[i].menu_id })
            .then(
              resp => {
                console.log(resp);
                ToastService.openSuccessDialog(
                  this.$bvToast,
                  resp.data.message
                );
                this.onRefresh();
              },
              err => {
                ToastService.openErrorDialog(this.$bvToast, resp.data.message);
              }
            )
            .catch(error => {
              ToastService.openErrorDialog(this.$bvToast, error);
            });
        }
    },
    onRefresh() {
      this.$refs.dataTable.updateTableData();
    }
  },
  computed: {}
};
</script>

<style>
</style>
