<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <ma-table
          v-bind="props"
          @add-data="onAddData"
          @edit-data="onEditData"
          @view-data="onViewData"
          @delete-data="onDeleteData"
          ref="dataTable"
        ></ma-table>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import maTable from "./../components/Table";
import { error } from "util";
import ToastService from "./../../services/toast.service";
import RoleAddEdit from "./../dialogs/role-add-edit";
import ApiService from "./../../services/api.service";

export default {
  components: { maTable },

  data: function() {
    return {
      props: {
        caption: "Role table",
        tablePath: "roles/all", // url,
        addEdit: "roles-add-edit", //
        delete: "roles/delete", //
        rowId: "role_id",
        defaultSort: [{ coloumn: "authority", desc: true }],
        excludeColoumns: ["role_id", "name"],
        excludeSortingColoumns: ["name"],
        enableAddEdit: true,
        enableDelete: true,
        enableRead: true,
        enableView: true,
        enableSelect: true,
        selectMode: "single",
        pageSize: 5,
        extraButtons: [
          {
            name: "",
            icon: "",
            functionName: ""
          }
        ]
      }
    };
  },

  methods: {
    async onAddData() {
      let modalResponse = await this.$modalService.open(RoleAddEdit, {
        title: "Add Edit Role Data"
      });
      console.log(modalResponse);

      if (modalResponse.status == 200) {
        ToastService.openSuccessDialog(
          this.$bvToast,
          modalResponse.data.message,
          "Add Role"
        );
        console.log(modalResponse.data);
      } else {
        ToastService.openErrorDialog(
          this.$bvToast,
          modalResponse.data.message, //TODO as
          "Add Role"
        );
      }
      this.onRefresh();
    },
    async onEditData(res) {
      let modalResponse = await this.$modalService.open(RoleAddEdit, {
        title: "Add Edit Role Data",
        data: res[0]
      });

      if (modalResponse.status == 200) {
        ToastService.openSuccessDialog(
          this.$bvToast,
          modalResponse.data,
          "Update Message"
        );
      } else {
        ToastService.openErrorDialog(
          this.$bvToast,
          modalResponse.data,
          "Update Message"
        );
      }
      this.onRefresh();
    },
    onViewData(res) {
      console.log(res);
    },
    onDeleteData(res) {
      // console.log(res.length);
      if (confirm("Do you really want to delete"))
        for (let i = 0; i < res.length; i++) {
          ApiService.post("roles/delete", { role_id: res[i].role_id })
            .then(
              resp => {
                ToastService.openSuccessDialog(
                  this.$bvToast,
                  resp.data.message
                );
                this.onRefresh();
              },
              err => {
                ToastService.openErrorDialog(this.$bvToast, resp.data.message);
              }
            )
            .catch(error => {
              ToastService.openErrorDialog(this.$bvToast, error);
            });
        }
    },
    onRefresh() {
      this.$refs.dataTable.updateTableData();
    }
  },
  computed: {}
};
</script>

<style>
</style>
