<template>
  <div>
    <b-card>
      <div slot="header">Icon Type Form</div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group disabled id="group-icon-type_id">
          <b-form-input id="icon_type_id" v-model="form.icon_id" type="number"></b-form-input>
        </b-form-group>

        <b-form-group id="group-icon-type-name">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-italic"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="icon_type-name" v-model="form.name" type="text" placeholder="Name"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-icon-type-state">
          <b-form-select id="icon_type_state" v-model="form.state" :options="states" required></b-form-select>
        </b-form-group>

        <div class="form-group form-actions">
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </div>
      </b-form>
    </b-card>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
import ApiService from "../../services/api.service";
import { mapState, mapGetters } from "vuex";
export default {
  props: {
    modalData: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        id:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.id
            : "",
        name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.name
            : "",
        state:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.state
            : ""
      },
      states: [
        { text: "Select State", value: null },
        { text: "Active", value: "A" },
        { text: "Passive", value: "P" }
      ],
      show: true
    };
  },
  created() {},
  components: {},
  computed: {},
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      ApiService.post("dicts/icontype", this.form)
        .then(res => {
          alert("posted successfully");
        })
        .catch(err => {
          throw err;
          alert(err);
        });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.name = "";
      this.form.state = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
