<template>
  <div>
    <b-card>
      <div slot="header">Icon Form</div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group disabled id="group-icon_id">
          <b-form-input id="icon_id" v-model="form.icon_id" type="number"></b-form-input>
        </b-form-group>

        <b-form-group id="group-icon-name">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-italic"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="icon-name" v-model="form.name" type="text" placeholder="Name"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-icon-class">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="icon-class" v-model="form.class" type="text" placeholder="class"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-icon-type">
          <b-form-select id="icon-type" v-model="form.type" :options="iconTypes" required>
            <template v-slot:first>
              <option :value="null" disabled>-- Please select a type --</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group id="group-icon-state">
          <b-form-select id="icon_state" v-model="form.state" :options="states" required></b-form-select>
        </b-form-group>

        <div class="form-group form-actions">
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </div>
      </b-form>
    </b-card>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
import ApiService from "../../services/api.service";
import { mapState, mapGetters } from "vuex";
import store from "./../../store/store";

export default {
  props: {
    modalData: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        icon_id:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.icon_id
            : "",
        name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.name
            : "",
        class:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.class
            : "",
        type:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.type
            : "",
        state:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.state
            : ""
      },
      states: [
        { text: "Select State", value: null },
        { text: "Active", value: "A" },
        { text: "Passive", value: "P" }
      ],
      show: true
    };
  },
  created() {},
  components: {},
  computed: {
    // ...mapGetters("dicts", ["getIconTypes"])
    iconTypes() {
      return store.getters["dicts/getIconTypes"];
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      ApiService.post("dicts/icons", this.form)
        .then(
          res => {
            console.log("posted successfully");
            this.closeModal(res);
          },
          error => {
            this.closeModal(error);
          }
        )
        .catch(err => {
          console.error(err);
          this.closeModal(err);
        });
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.form.name = "";
      this.form.class = "";
      this.form.type = "";
      this.form.state = null;

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
