<template>
  <div>
    <b-card>
      <div slot="header">Menu Form</div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group disabled id="group-menu-id">
          <b-form-input id="menu_id" v-model="form.menu_id" type="number"></b-form-input>
        </b-form-group>

        <b-form-group id="group-menu-name-uz">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="menu-name-uz"
              v-model="form.name[0]"
              type="text"
              placeholder="Name Uz"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-menu-name-ru">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="menu-name-ru"
              v-model="form.name[1]"
              type="text"
              placeholder="Name Ru"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-menu-name-en">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="menu-name-en"
              v-model="form.name[2]"
              type="text"
              placeholder="Name En"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-menu-parent">
          <b-form-select id="parent_id" v-model="form.parent_id" :options="parentMenusDict">
            <template v-slot:first>
              <option :value="null" disabled>-- Please select parent --</option>
            </template>
          </b-form-select>
        </b-form-group>

        <b-form-group id="group-menu-url">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="menu-url" v-model="form.url" type="text" placeholder="Url"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-menu-ord">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="menu-ord" v-model="form.ord" type="number" placeholder="Order"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-menu-icon">
          <b-form-select id="menu_icon" v-model="form.icon" :options="iconsDict" required></b-form-select>
        </b-form-group>

        <b-form-group id="group-menu-roles">
          <b-form-select
            id="menu_roles"
            v-model="form.roles"
            :options="rolesDict"
            multiple
            required
          >
            <template v-slot:first>
              <option :value="null" disabled>-- Please select roles --</option>
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group id="group-menu-state">
          <b-form-select id="menu_state" v-model="form.state" :options="states" required></b-form-select>
        </b-form-group>

        <div class="form-group form-actions">
          <b-button type="submit" variant="primary">
            <b-spinner small v-if="loading"></b-spinner>Submit
          </b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </div>
      </b-form>
    </b-card>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<script>
import ApiService from "../../services/api.service";
import { mapState, mapGetters } from "vuex";
import store from "./../../store/store";

export default {
  props: {
    modalData: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        menu_id:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.menu_id
            : "",
        parent_id:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.parent_id
            : "",
        name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.name
            : [],
        url:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.url
            : "",
        ord:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.ord
            : null,
        icon:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.icon
            : "",
        roles:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.roles
            : [],
        state:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.state
            : null
      },
      states: [
        { text: "Select State", value: null },
        { text: "Active", value: "A" },
        { text: "Passive", value: "P" }
      ],
      show: true,
      loading: false
    };
  },
  created() {},
  components: {},
  computed: {
    //...mapGetters(["getMenusDict"]),
    // ...mapGetters("dicts", ["getIconsDict", "getRolesDict", "getParentMenus"])
    iconsDict() {
      return store.getters["dicts/getIconsDict"];
    },
    rolesDict() {
      return store.getters["dicts/getRolesDict"];
    },
    parentMenusDict() {
      return store.getters["dicts/getParentMenus"];
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.loading = true;

      ApiService.post("menus", this.form)
        .then(
          res => {
            //console.log(res.data);
            this.closeModal(res);
            this.onReset();
            this.loading = false;
          },
          err => {
            //console.error(err);
            this.closeModal(err.response);
            this.onReset();
            this.loading = false;
          }
        )
        .catch(err => {
          console.error(err);
        });
    },
    onReset() {
      //evt.preventDefault();
      // Reset our form values
      this.form.parent_id = null;
      this.form.name = [];
      this.form.url = "";
      this.form.ord = null;
      this.form.icon = "";
      this.form.roles = [];
      this.form.state = null;
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
