<template>
  <div>
    <b-card>
      <div slot="header">Role Form</div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group disabled id="group-role_id">
          <b-form-input id="user_id" v-model="form.role_id" type="number"></b-form-input>
        </b-form-group>

        <b-form-group id="group-authority">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-user"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="authority"
              v-model="form.authority"
              type="text"
              placeholder="Authority"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-name-uz">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="name-uz" v-model="form.name[0]" type="text" placeholder="Name Uz"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-name-ru">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="name-ru" v-model="form.name[1]" type="text" placeholder="Name Ru"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-name-en">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="name-en" v-model="form.name[2]" type="text" placeholder="Name En"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-role-state">
          <b-form-select id="role_state" v-model="form.state" :options="states" required></b-form-select>
        </b-form-group>

        <div class="form-group form-actions">
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </div>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import ApiService from "../../services/api.service";
import { mapState, mapGetters } from "vuex";
export default {
  props: {
    modalData: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        role_id:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.role_id
            : "",
        authority:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.authority
            : "",
        name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.name
            : [],
        state:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.state
            : null
      },
      states: [
        { text: "Select State", value: null },
        { text: "Active", value: "A" },
        { text: "Passive", value: "P" }
      ],
      show: true
    };
  },
  created() {},
  components: {},
  computed: {},
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      ApiService.post("roles", this.form)
        .then(
          res => {
            console.log(res);
            this.closeModal(res);
            this.onReset();
            this.loading = false;
          },
          err => {
            this.closeModal(err);
            this.onReset();
            this.loading = false;
          }
        )
        .catch(err => {
          alert(err);
        });
    },
    onReset(evt) {
      //evt.preventDefault();
      // Reset our form values
      this.form.name = [];
      this.form.authority = "";
      this.form.state = null;

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
