<template>
  <div>
    <b-card>
      <div slot="header">User Form</div>
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group disabled id="group-user_id">
          <b-form-input id="user_id" v-model="form.user_id" type="number"></b-form-input>
        </b-form-group>

        <b-form-group id="group-username">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-user"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input id="username" v-model="form.username" type="text" placeholder="Username"></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-first-name">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="first-name"
              v-model="form.first_name"
              type="text"
              placeholder="First Name"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-last-name">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="last-name"
              v-model="form.last_name"
              type="text"
              placeholder="Last Name"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-middle-name">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-address-card-o"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="middle-name"
              v-model="form.middle_name"
              type="text"
              placeholder="Middle Name"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-user-email">
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-envelope"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              type="email"
              id="user-email"
              v-model="form.email"
              placeholder="Email"
              autocomplete="email"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group>
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-asterisk"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              type="password"
              v-model="form.password"
              placeholder="Password"
              autocomplete="current-password"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group
          id="group-user-phone"
          description="We'll never share your phone number with anyone else."
        >
          <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-phone"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <b-form-input
              id="user-phone"
              v-model="form.phone"
              type="tel"
              autocomplete="current-phone"
            ></b-form-input>
          </b-input-group>
        </b-form-group>

        <b-form-group id="group-user-state">
          <b-form-select id="user_state" v-model="form.state" :options="states" required></b-form-select>
        </b-form-group>

        <b-form-group id="group-user-roles">
          <b-form-select
            id="user_roles"
            v-model="form.roles"
            :options="rolesDict"
            multiple
            required
          >
            <template v-slot:first>
              <option :value="null" disabled>-- Please select roles --</option>
            </template>
          </b-form-select>
        </b-form-group>

        <div class="form-group form-actions">
          <b-button type="submit" variant="primary">
            <b-spinner small v-if="loading"></b-spinner>Submit
          </b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </div>
      </b-form>
    </b-card>
    <!-- <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>-->
  </div>
</template>

<script>
import ApiService from "../../services/api.service";
import { mapState, mapGetters } from "vuex";
import store from "./../../store/store";
import Alert from "./../components/Alert";

export default {
  props: {
    modalData: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        user_id:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.user_id
            : "",
        username:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.username
            : "",
        first_name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.first_name
            : "",
        last_name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.last_name
            : "",
        middle_name:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.middle_name
            : "",
        email:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.email
            : "",
        password: null,
        phone:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.phone
            : "",
        state:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.state
            : null,
        roles:
          typeof this.modalData.data != "undefined"
            ? this.modalData.data.roles
            : []
      },
      states: [
        { text: "Select State", value: null },
        { text: "Active", value: "A" },
        { text: "Passive", value: "P" }
      ],
      show: true,
      loading: false
    };
  },
  created() {
    console.log(this.modalData.data);
  },
  components: {
    Alert
  },
  computed: {
    //...mapGetters("dicts", ["getRolesDict"])
    rolesDict() {
      return store.getters["dicts/getRolesDict"];
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.loading = true;
      console.log({ formData: this.form });

      ApiService.post("auth/register", this.form)
        .then(
          res => {
            //console.log(res);
            this.closeModal(res);
            this.onReset();
            this.loading = false;
          },
          err => {
            this.closeModal(err);
            this.loading = false;
          }
        )
        .catch(err => {
          console.error(err);
          this.closeModal(err);
          this.loading = false;
        });
    },
    onReset() {
      //evt.preventDefault();
      // Reset our form values // TODO make generic service to clear form
      this.form.password = "";
      this.form.username = "";
      this.form.email = "";
      this.form.first_name = "";
      this.form.last_name = "";
      this.form.middle_name = "";
      this.form.phone = "";
      this.form.roles = [];
      this.form.state = null;

      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    }
  }
};
</script>
