<template>
  <div class="animated fadeIn"></div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";

export default {
  name: "dashboard",
  components: {},
  data: function() {
    return {};
  },
  computed: {
    ...mapGetters("dicts", ["getMenuList"])
  },
  created() {
    this.loadAll();
    console.log(this.getMenuList);
  },
  methods: {
    ...mapActions("dicts", ["loadAll"])
  }
};
</script>

<style>
/* IE fix */
</style>
