<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <ma-table
          v-bind="props"
          @add-data="onAddData"
          @edit-data="onEditData"
          @view-data="onViewData"
          @delete-data="onDeleteData"
          ref="userTable"
        ></ma-table>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import maTable from "./components/Table";
import { error } from "util";
import ToastService from "./../services/toast.service";

// import IconAddEdit from "./dialogs/icon-add-edit";
// import IconTypeAddEdit from "./dialogs/icon-type-add-edit";
// import MenuAddEdit from "./dialogs/menu-add-edit";
// import RoleAddEdit from "./dialogs/role-add-edit";
import UsersAddEdit from "./dialogs/users-add-edit";
import ApiService from "../services/api.service";

export default {
  name: "HomePage",
  components: { maTable },

  data: function() {
    return {
      props: {
        caption: this.$t("users.addEdit"),
        tablePath: "auth/users", // url,
        addEdit: "users-add-edit", //
        delete: "", //
        rowId: "user_id",
        defaultSort: [{ coloumn: "employee_id", desc: true }],
        excludeColoumns: ["user_id", "name"],
        excludeSortingColoumns: ["username"],
        enableAddEdit: true,
        enableDelete: true,
        enableRead: true,
        enableView: true,
        enableSelect: true,
        selectMode: "single",
        pageSize: 3,
        extraButtons: [
          {
            name: "",
            icon: "",
            functionName: ""
          }
        ]
      }
    };
  },
  created() {
    //console.log("HOME create started....");
  },
  methods: {
    async onAddData() {
      let modalResponse = await this.$modalService.open(UsersAddEdit, {
        title: this.$t("users.addEdit")
      });
      console.log(modalResponse.status);
      if (modalResponse.status == 200) {
        ToastService.openSuccessDialog(
          this.$bvToast,
          modalResponse.data[0].response,
          "Add User"
        );
        console.log(modalResponse.data);
      } else {
        ToastService.openErrorDialog(
          this.$bvToast,
          modalResponse.data[0].response,
          "Add User"
        );
      }
      this.onRefresh();
    },
    async onEditData(res) {
      let modalResponse = await this.$modalService.open(UsersAddEdit, {
        title: this.$t("users.addEdit"),
        data: res[0]
      });
      if (modalResponse.status == 200) {
        ToastService.openSuccessDialog(
          this.$bvToast,
          modalResponse.data[0].response,
          "Update Message"
        );
      } else {
        ToastService.openErrorDialog(
          this.$bvToast,
          modalResponse.data[0].response,
          "Update Message"
        );
      }
      this.onRefresh();
    },
    onViewData(res) {
      console.log(res);
    },
    onDeleteData(res) {
      // console.log(res.length);
      if (confirm(this.$t("messages.confirm_delete")))
        for (let i = 0; i < res.length; i++) {
          ApiService.post("auth/delete", { user_id: res[i].user_id })
            .then(
              resp => {
                console.log(resp);
                ToastService.openSuccessDialog(
                  this.$bvToast,
                  resp.data.message
                );
                this.onRefresh();
              },
              err => {
                ToastService.openErrorDialog(this.$bvToast, resp.data.message);
              }
            )
            .catch(error => {
              ToastService.openErrorDialog(this.$bvToast, error);
            });
        }
    },
    onRefresh() {
      this.$refs.userTable.updateTableData();
    }
  },
  computed: {}
};
</script>

<style>
</style>
