<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <h1>Login</h1>
                  <b-alert variant="danger" :show="loginError">Failed to login !!!</b-alert>

                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-user"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>

                    <b-form-input
                      v-model="$v.credentials.username.$model"
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      autocomplete="username email"
                      :state="
                        $v.credentials.username.$dirty
                          ? !$v.credentials.username.$error
                          : null
                      "
                      aria-describedby="username-feedback"
                    />
                    <b-form-invalid-feedback id="username-feedback">Username is invalid</b-form-invalid-feedback>
                  </b-input-group>

                  <b-input-group class="mb-4">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-lock"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="$v.credentials.password.$model"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      autocomplete="current-password"
                      :state="
                        $v.credentials.password.$dirty
                          ? !$v.credentials.password.$error
                          : null
                      "
                      aria-describedby="password-feedback"
                    />
                    <b-form-invalid-feedback id="password-feedback">Password is invalid</b-form-invalid-feedback>
                  </b-input-group>

                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-globe"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>

                    <b-form-select
                      v-model="$v.credentials.lang.$model"
                      :options="langs"
                      text-field="text"
                      value-field="value"
                      aria-describedby="lang-feedback"
                    ></b-form-select>
                  </b-input-group>

                  <b-row>
                    <b-col cols="6">
                      <b-button
                        :disabled="$v.credentials.$invalid"
                        variant="primary"
                        class="px-4"
                        @click="handleSubmit()"
                      >
                        Login
                        <b-spinner v-if="isAuthenticating" small type="grow"></b-spinner>
                      </b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" class="px-0">Forgot password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { required, minLength, between } from "vuelidate/lib/validators";
import { AuthService } from "./../services/auth.service";

export default {
  name: "Login",

  beforeCreate() {},

  data() {
    return {
      credentials: {
        username: null,
        password: null,
        lang: "ru" //[{name: "English", value: "en"}]
      },
      langs: [
        { text: "Русский", value: "ru" }, // uz, ru, en
        { text: "Узбек крилл", value: "uzkr" },
        { text: "English", value: "en" },
        { text: "O'zbek Lotin", value: "uz" }
      ],
      loginError: false
    };
  },
  created() {},
  computed: {
    isAuthenticating: function() {
      return this.$store.getters["auth/authenticating"];
    }
  },

  validations: {
    credentials: {
      username: {
        required,
        minLength: minLength(3)
      },
      password: {
        required,
        minLength: minLength(3)
      },
      lang: {
        required
      }
    }
  },
  methods: {
    handleSubmit() {
      // Perform a simple validation that email and password have been typed in
      if (!this.$v.credentials.$invalid) {
        console.log(this.credentials);
        AuthService.login(this.credentials, res => {
          if (res) {
            //TODO clearForm();
            console.log("login done");
          } else return;
        });
      } else {
        alert("Enter credentials correctly");
      }
    }
  }
};
</script>
