<template>
  <b-card>
    <b-card-body>
      <b-card>
        <b-card-title>
          <h3>User: {{ user }}</h3>
          <hr />
        </b-card-title>
        <b-card-body class="overflow-auto" style="height: 500px;">
          <b-card v-for="(msg, index) in inbox" :key="index">
            <b-card-title>{{ msg.title }}</b-card-title>
            <b-card-body>{{ msg.body }}</b-card-body>
            <p>
              Sent by: {{ msg.sender_name }} at:
              {{ formattedDate(msg.sent_at) }}
            </p>
          </b-card>
        </b-card-body>
      </b-card>
    </b-card-body>

    <b-card-footer>
      <b-form @submit.prevent="sendMessage">
        <b-form-group>
          <b-form-input type="text" hidden v-model="form.id" />
          <label for="message">Title:</label>
          <b-form-input type="text" v-model="form.title" class="form-control" />
        </b-form-group>

        <b-form-group>
          <label for="body">Message:</label>
          <b-form-textarea v-model="form.body" class="form-control"></b-form-textarea>
        </b-form-group>

        <b-form-group>
          <b-form-select
            id="user_ids"
            v-model="form.user_ids"
            :options="userList"
            multiple
            required
          >
            <template v-slot:first>
              <option :value="null">-- Please select users to send --</option>
            </template>
          </b-form-select>
        </b-form-group>

        <button type="submit" class="btn btn-success">Send</button>
      </b-form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-card-footer>
  </b-card>
</template>

<script>
import { mapActions } from "vuex";
import moment from "moment";

export default {
  mounted() {
    this.socket.on("notify", data => {
      console.log(data);
      //this.inbox = [...this.inbox, data]; // in store
      this.$store.dispatch("dicts/addNotification", data);
    });
  },
  data() {
    return {
      user: this.$store.getters["auth/fullName"],
      user_id: this.$store.getters["auth/userId"],
      message: "",
      inbox: this.$store.getters["dicts/receivedNotifications"],
      socket: this.$store.getters["socket/getSocket"],
      form: {
        id: null,
        title: null,
        body: null,
        user_ids: [],
        name: null,
        user_id: null
      },
      userList: this.$store.getters["dicts/getUserList"]
    };
  },
  created() {
    this.$store.watch(
      (state, getters) => getters["dicts/receivedNotifications"],
      (newValue, oldValue) => {
        this.inbox = this.$store.getters["dicts/receivedNotifications"];
      }
    );
  },
  computed: {},
  methods: {
    sendMessage(e) {
      e.preventDefault();
      this.form.name = this.user;
      this.form.user_id = this.user_id;
      this.socket.emit("SEND_NOTIFICATION", this.form);

      this.form.id = null;
      this.form.title = null;
      this.form.body = null;
      this.form.user_ids = [];
    },
    formattedDate(date) {
      return moment(date); //.format("MMMM Do YYYY, h:mm:ss a");
    }
  },
  watch: {},
  beforeDestroy() {}
};
</script>

<style></style>
