<template>
  <b-alert dismissible :show="show" :variant="messageType">
    <slot></slot>
  </b-alert>
</template>
<script>
export default {
  created() {
    setTimeout(() => {
      this.show = false;
    }, 4);
  },
  props: {
    show: Boolean,
    messageType: String
  },
  data() {
    return {};
  },
  methods: {}
};
</script>
