<template>
  <div>
    <b-card no-body>
      <div slot="header" v-html="`<i class='fa fa-align-justify'></i> ` +caption"></div>
      <b-card-header>
        <b-row>
          <b-col>
            <b-row v-if="enableAddEdit" sm="auto">
              <b-col sm="auto">
                <b-button type="submit" size="md" variant="primary" @click="addData()">
                  <i class="fa fa-plus-circle"></i>
                  {{$t('actions.add')}}
                </b-button>
              </b-col>
              <b-col sm="auto">
                <b-button
                  type="submit"
                  :disabled="!isSelected()"
                  size="md"
                  variant="primary"
                  @click="editData()"
                >
                  <i class="fa fa-edit"></i>
                  {{$t('actions.edit')}}
                </b-button>
              </b-col>
              <b-col sm="auto">
                <b-button
                  type="submit"
                  :disabled="!isSelected()"
                  size="md"
                  variant="primary"
                  @click="deleteData()"
                >
                  <i class="fa fa-trash"></i>
                  {{$t('actions.delete')}}
                </b-button>
              </b-col>
              <b-col v-if="enableView" sm="auto">
                <b-button
                  type="submit"
                  :disabled="!isSelected()"
                  size="md"
                  variant="primary"
                  @click="viewData()"
                >
                  <i class="fa fa-eye"></i>
                  {{$t('actions.view')}}
                </b-button>
              </b-col>
              <b-col sm="auto">
                <b-button type="submit" size="md" variant="primary" @click="updateTableData">
                  <i class="fa fa-refresh"></i>
                  {{$t('actions.refresh')}}
                </b-button>
              </b-col>
            </b-row>
          </b-col>

          <b-col sm="auto" lg="6">
            <b-form-group id="search-form">
              <b-input-group id="search-form-group">
                <b-form-input
                  type="text"
                  id="searchinput"
                  v-model="searchText"
                  placeholder="Search"
                  autocomplete="email"
                ></b-form-input>
                <b-input-group-append>
                  <b-button variant="primary" @click="search()">
                    <i class="fa fa-search"></i>
                    {{$t('actions.search')}}
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-card-header>
      <b-card-body class="pb-3">
        <b-card class="shadow p-0 m-0 bg-white rounded">
          <div class="table-responsive">
            <b-table
              :dark="dark"
              :hover="hover"
              :striped="striped"
              :bordered="bordered"
              :small="small"
              :fixed="fixed"
              responsive="md"
              :items="itemsArray"
              :fields="fields"
              @row-selected="onRowSelected"
              :current-page="currentPage"
              :per-page="pageSize"
              :busy="isBusy"
              ref="selectableTable"
              :selectable="enableSelect"
              :select-mode="selectMode"
              :sort-by="sortBy"
              :sort-desc="sortDesc"
              selected-variant="success"
              class="table"
            >
              <!-- <div slot="HEAD[id]" class="text-nowrap" slot-scope="scope">Row ID</div> -->
              <template slot="status" slot-scope="data">
                <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
              </template>
              <div slot="table-busy" class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>Loading...</strong>
              </div>
              <!-- Example scoped slot for select state illustrative purposes -->
              <template slot="selected" slot-scope="{ rowSelected }">
                <template v-if="rowSelected">
                  <span aria-hidden="true">&check;</span>
                  <span class="sr-only">{{$t('common.selected')}}</span>
                </template>
                <template v-else>
                  <span aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">{{$t('common.not_selected')}}</span>
                </template>
              </template>
              <!--  -->
            </b-table>
          </div>
          <p>
            <template v-if="selectMode == 'multi' && enableSelect">
              <b-button
                v-if="isSelected()"
                size="sm"
                @click="clearSelected"
                variant="danger"
              >{{$t('common.not_all')}}</b-button>

              <b-button v-else size="sm" @click="selectAllRows()">{{$t('common.all')}}</b-button>
            </template>
          </p>
          <nav>
            <b-pagination
              :total-rows="totalRows"
              :per-page="pageSize"
              v-model="currentPage"
              prev-text="Prev"
              next-text="Next"
              hide-goto-end-buttons
            />
          </nav>
          <p>
            {{$t('common.selected')}}:
            <br />
            {{ selected }}
          </p>
        </b-card>
      </b-card-body>
    </b-card>
    <b-modal id="bv-modal" centered>
      <template v-slot:modal-title>
        Using
        <code>$bvModal</code> Methods
      </template>
      <div>
        <users-add-edit></users-add-edit>
      </div>
      <!-- <template v-slot:modal-footer>
        <b-button class="mt-3" block @click="$bvModal.hide('bv-modal')">Close Me</b-button>
      </template>-->
    </b-modal>
  </div>
</template>

<script>
import { truncate } from "fs";
import tableMixin from "./../../shared/mixins/tableMixin";
import ApiService from "./../../services/api.service";
import { mapState } from "vuex";

import Vue from "vue";

// let fooComponent = Vue.component("foo", {
//   mounted() {
//     console.log(this.modalData);
//   },
//   template: `
//     <div>
//           <b-button @click="closeModal({test: 'foo'})">foo</b-button>
//     </div>
//     `
// });

export default {
  name: "ma-table",
  inheritAttrs: false,
  mixins: [tableMixin],
  components: {},
  props: {
    caption: {
      type: String,
      default: "Table"
    },
    tablePath: {
      type: String,
      default: "Table"
    }, // url,
    addEdit: {
      type: String,
      default: "span"
    }, // url
    delete: {
      type: String,
      default: "auth/users/delete"
    }, //
    rowId: {
      type: String,
      default: "id"
    },
    defaultSort: {
      type: [Array, Object],
      default: () => []
    },
    excludeColoumns: {
      type: Array,
      default: () => []
    },
    excludeSortingColoumns: {
      type: Array,
      default: () => []
    },
    enableAddEdit: {
      type: Boolean,
      default: true
    },
    enableDelete: {
      type: Boolean,
      default: true
    },
    enableRead: {
      type: Boolean,
      default: true
    },
    enableView: {
      type: Boolean,
      default: true
    },
    enableSelect: {
      type: Boolean,
      default: true
    },
    selectMode: {
      type: String,
      default: "single"
    },
    pageSize: {
      type: Number,
      default: 5
    },
    extraButtons: {
      type: [Array, Object],
      default: () => []
    }
  },
  data: () => {
    return {
      hover: true,
      striped: false,
      bordered: false,
      small: true,
      fixed: true,
      dark: false,

      // !!! Core Don't Change
      dialogBody: "",
      currentPage: 1,
      fields: [{ key: "selected" }],
      itemsArray: [],
      selected: [],
      isBusy: false,
      searchText: ""
    };
  },
  created() {
    this.initialize();
  },
  computed: {
    sortBy() {
      return this.defaultSort[0].coloumn;
    },
    sortDesc() {
      return this.defaultSort[0].desc;
    }
  },
  methods: {
    //------------------------
    async initialize() {
      this.isBusy = !this.isBusy;
      await this.getFields();
      await this.allTableData();
      await this.removeExcludedFields();
      this.isBusy = !this.isBusy;
    },

    getFields: function() {
      console.log({ tablePath: this.tablePath });
      return ApiService.get(this.tablePath)
        .then(res => {
          let users = res.data;
          Object.keys(users[0]).map(async (k, index) => {
            // get first row's coloumns name
            let isEx = await this.isSortingExcluded(k);
            if (isEx) {
              this.fields.push({ key: k, sortable: false });
            } else this.fields.push({ key: k, sortable: true });
          });
        })
        .catch(err => {
          console.error(err);
        });
    },
    allTableData: function() {
      return ApiService.get(this.tablePath)
        .then(res => {
          let users = res.data;
          users.forEach(element => {
            this.itemsArray.push(element);
          });
        })
        .catch(err => {
          console.error(err);
        });
    },
    async updateTableData() {
      console.log("updating..");
      this.isBusy = !this.isBusy;
      this.itemsArray = [];
      await this.allTableData();
      this.isBusy = !this.isBusy;
    },

    async removeExcludedFields() {
      return new Promise(resolve => {
        //let index = this.fields.indexOf(el);
        this.fields.forEach(el => {
          this.excludeColoumns.forEach(element => {
            if (el.key == element) {
              let index = this.fields.indexOf(el);
              this.fields.splice(index, 1);
            }
          });
        });
        resolve();
      });
    },

    async isSortingExcluded(element) {
      return new Promise(resolve => {
        this.excludeSortingColoumns.forEach(ex => {
          if (ex == element) {
            resolve(true);
          }
        });
        resolve(false);
      });
    },
    addData() {
      this.$emit("add-data");
    },
    editData() {
      //console.log(this.selected[0]);
      this.$emit("edit-data", this.selected);
    },
    deleteData() {
      this.$emit("delete-data", this.selected);
    },
    viewData() {
      console.log("view Data");
    },
    search() {
      console.log("searching..." + this.searchText);
    }
  }
};
</script>
<style scoped>
.bordered {
  box-sizing: border-box;
}
</style>
